.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-bottom: 20px;
}

.button {
	padding: 5px;
}

.number_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5px;
}
