:root {
	--color-dark: #262626;
	--color-light: #ffffff;
	--color-accent: #db4646;
	--color-secondary: #f7a34b;
	--color-white-dark: #fafafa;
	--color-gray: #dbdbdb;
	--color-gray-dark: #8e8e8e;
	--color-gray-light: #c7c7c7;

	--font-family-base: 'Inter', sans-serif;

	--container-width: 1040px;
	--container-padding-x: 16px;

	--border: 1px solid var(--color-gray-dark);

	--transition-duration: 0.3s;
}
